.calendar{
    overflow: hidden;
}

.calRow {
    float: left;
    clear: both;
}

.calRow member {
    display: block;
    height: 12px;
    width: 100px;
    overflow: hidden;
    float: left;
    text-align: left;
    font-size:12px;
}

.calCell {
    width: 10px;
    height: 10px;
    border: 1px solid #444;
    margin-left: 2px;
    margin-top: 2px;
    float: left;
    background-color: #EEE
}

.calCell-green {
    background-color: #66A066;
}

.calCell-red {
    background-color: #A06666;
}