.teamView {
    list-style: none;
    margin: 0;
    padding: 0;
}

.teamLinearView li {
    display: inline-block;
    margin: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100px;
}

.teamOverView li {
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

.teamView bage {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.teamView hipchat {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.teamView name,
.teamView role {
    display: block;
}

.teamView name {
    white-space: nowrap;
}

.teamView .team-member-vacation,
.teamView .team-member-ill {
    opacity: 0.5;
}

.teamView role {
    color: #888;
    height: 40px;
    overflow: hidden;
}

.teamOverView-icon {
    display: inline-block;
}

.teamOverView-body {
    display: inline-block;
}

.teamView .aui-avatar-inner {
    border-radius: 100%;
    background-size: 100%;
}

.teamOverview{
    line-height:1.5em;
}

.teamOverview nametab name,
.teamOverview nametab role,
.teamOverview nametab spec {
    display: block;
}

.teamOverview nametab name{
    font-size:14px;
}

.teamOverview nametab role,
.teamOverview nametab spec {
    color:#666;
}
