.beehive-projects-root{
 position: relative;
}

.beehive-projects {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 800px;
    overflow: hidden;
    padding: 10px;
    background-position: 50%;
}

.beehive-projects li {
    position: relative;
    display: block;
    height: 40px;
}

.beehive-projects li:hover .projectBar {
    border: 1px solid #F00;
}

.beehive-projects .projectBar {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid #FFF;
    background-color: #6a6a68;
    margin-left: 50%;
    opacity: 0.7;
    z-index: 1;
}

.beehive-projects label {
    text-align: center;
    color: #000;
    text-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
    position: relative;
    display: block;
    white-space: nowrap;
    top: 10px;
    font-size: 14px;
    z-index: 3;
}

.beehive-projects .projectBar label {
    opacity: 0.5;
    font-size: 12px;
}

.todayLine-vertical{
    position: absolute;
    width:0px;
    top:0;
    left:0;
    bottom:0;
    border: 1px solid rgba(255,0,0,0.5);
    margin-left:50%;
    z-index: 2;
}

.beehive-projects tips{
    position: absolute;
    left:0; top:11px;
}

.beehive-projects tips>div{
    width:80px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    z-index:2
}

.beehive-projects owner {
    position: absolute;
    right:0; top:11px;
}