.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFF;
  height: 50px;
  padding: 20px;
  color: #000;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.aui-page-panel-sidebar {
  width: 200px;
  font-size: 14px;
  width: 225px;
}