body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.aui-header-logo-device {
    background-image: url(https://directory.atlassian.io/static/img/atlassian-rgb-white-xsmall.png);
    width: 100px;
}

.header-logo-text-container {
    float: left;
}

.header-logo-text {
    font-size: 15pt;
    font-family: 'Helvetica Neue';
    font-weight: 200;
    color: #F5F5F5;
    padding-right: 10px;
    line-height: 40px;
    font-weight: 400;
    margin: 3px 4px !important;
}

.aui-header a {
    font-size: 14px;
    line-height: 20px;
}

.aui-flatpack-example {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;
}